@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

#headerContainer {
    width: 100%;
    min-height: 10%;
    background-color: #404040;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .25rem;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 4rem;
    font-family: 'Barlow';
    font-size: 2.75rem;
    cursor: pointer;
    margin-left: 1rem;
}

#title:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 4rem;
    font-family: 'Barlow';
    font-size: 2.9rem;
    cursor: pointer;
    margin-left: 1rem;
}

#linksContainer {
    width: 18rem;
    height: 40%;
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.navButton {
    color: white;
}