@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

#headerContainer {
    width: 100%;
    min-height: 10%;
    background-color: #404040;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 4rem;
    font-family: 'Barlow';
    font-size: 2.75rem;
}

#linksContainer {
    border: 2px solid red;
    width: 18rem;
    height: 40%;
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
}

.navButton {
    color: white;
}