@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

#homePageContainer {
    width: 100%;
    height: 95%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    gap: 1.5rem;
}

#homePageText {
    width: 100%;
    height: 10rem;
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#homePageImgContainer {
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#homePageImg {
    width: 100%;
    height: auto;
    max-height: 100%;
    border: 1px solid black;
}

#shopNow {
    width: 15rem;
    height: 2.5rem;
    cursor: pointer;
    background-color: #404040;
    color: white;
}

#shopNow:hover {
    width: 15rem;
    height: 2.5rem;
    cursor: pointer;
    background-color: white;
    color: #404040;
}