#mainShopContainer {
    width: 90%;
    height: auto;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#shopTitle {
    font-size: 2.5rem;
}

#itemsDisplay {
    width: 95%;
    height: auto;
    border: 2px solid orange;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 35px;
}

.item {
    border: 2px solid red;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
}

.image {
    width: 10rem;
    height: 8rem;
}

.addBtn {
    cursor: pointer;
}