@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

#mainShopContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

#shopTitle {
    font-size: 2.5rem;
}

#itemsDisplay {
    width: 100%;
    max-height:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.item {
    width: 20rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
}

#imgContainer {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image {
    width: 19rem;
    height: auto;
    cursor: pointer;
}

#nameAndPriceContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .25rem;
}

.addBtn {
    cursor: pointer;
    width: 60%;
    height: 2.5rem;
    background-color: #404040;
    color: white;
}

.addBtn:hover {
    cursor: pointer;
    width: 60%;
    height: 2.5rem;
    background-color: white;
    color: #404040;
}

.viewBtn {
    cursor: pointer;
    width: 10rem;
    height: 2.5rem;
    background-color: #404040;
    color: white;
}

.viewBtn:hover {
    cursor: pointer;
    width: 10rem;
    height: 2.5rem;
    background-color: white;
    color: #404040;
}