#infoPageContainer {
    width: 95%;
    height: 95%;
    border: 2px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#imageContainer {
    width: 30rem;
    height: 20rem;
    border: 2px solid blue;
}

#shoeInfoContainer {
    width: 40%;
    height: 70%;
    border: 2px solid green;
}