@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



#infoPageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

@media screen and (min-width: 1105px) {
    #itemInfoFullPageWrapper {
        width: 90%;
        min-height: 60%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-family: 'Poppins', sans-serif;
        gap: 2rem;
    }
}

@media screen and (max-width: 1105px) {
    #itemInfoFullPageWrapper {
        width: 90%;
        min-height: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-family: 'Poppins', sans-serif;
    }
}

.itemImageContainer {
    width: 30rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemPageImage {
    width: 30rem;
    height: auto;
    border: 1px solid black;
}
.itemInfoContainer {
    width: 30rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   

.itemInfoName {
    width: 45rem;
    height: 4rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.itemInfoPrice {
    width: 10rem;
    height: 3rem;
    font-size: 1.2rem;
    text-align: center;
}

.itemInfoDesc {
    width: 25rem;
    height: 7rem;
    text-align: center;
}

.sizesDisplay {
    width: 20rem;
    height: 8rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: none;
    grid-row-gap: none;  
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.sizeBtn {
    width: 3.5rem;
    height: 2rem;
    cursor: pointer;
}

.addToCartBtn {
    cursor: pointer;
    width: 20rem;
    height: 3rem;
    background-color: #404040;
    color: white;
    margin-top: 1rem;
}

.addToCartBtn:hover {
    margin-top: 1rem;
    cursor: pointer;
    width: 20rem;
    height: 3rem;
    background-color: white;
    color: #404040;
}