@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

#infoPageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}


@media screen and (min-width: 1105px) {
    #itemInfoFullPageWrapper {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-family: 'Poppins', sans-serif;
        gap: 2rem;
        overflow-y: auto;
    }
}

@media screen and (max-width: 1105px) {
    #itemInfoFullPageWrapper {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-family: 'Poppins', sans-serif;
        overflow-y: auto;
    }
}

.itemImageContainer {
    width: 30rem;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemPageImage {
    width: 30rem;
    height: auto;
    border: 1px solid black;
}
.itemInfoContainer {
    width: 30rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}   

.itemInfoName {
    width: 125%;
    height: 12%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.itemInfoPrice {
    width: 10%;
    height: 7%;
    font-size: 1.2rem;
    text-align: center;
}

.itemInfoDesc {
    width: 80%;
    height: 25%;
    text-align: center;
}

.sizesDisplay {
    width: 20rem;
    height: 20rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;  
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.sizeBtn {
    width: 3.5rem;
    height: 2rem;
    cursor: pointer;
}